<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Voedings Check</title>
        <meta name="description" content="Scan eten & drinken met Voedings Check om zo te weten wat je consumeert" />
        <meta name="theme-color" content="#29a7ce" />
        <%# Assets %>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link rel="stylesheet" href="/css/style.min.css" />
        <link rel="icon" type="image/png" href="/icons/manifest-icon-512.maskable.png" />
        <link rel="manifest" href="/manifest.json" />
        <%# IOS Support %>
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="#29a7ce" />
        <link rel="apple-touch-icon" href="/icons/manifest-icon-512.maskable.png" />
        <%# JS %>
        <script type="module" defer src="/js/main.min.js"></script>
    </head>
</html>
