<%- include('./partials/head') %>
<body>
    <main>
        <video></video>
        <section class="details">
            <div class="failed warning">
                <img src="../img/warn.svg" alt="warning" />
                <h1>Geen product info gevonden</h1>
            </div>
            <p>Er zijn geen gegevens beschikbaar voor dit product. Probeer een ander product.</p>
        </section>
    </main>
</body>
<%- include('./partials/foot') %>
