<%- include('./partials/head') %>
<body>
    <main>
        <section class="details open">
            <h1 class="zero">Welkom bij Voedings Check</h1>
            <p>
                Met voedingscheck kun je barcodes van voedsel scannen om product informatie te zien. Druk hieronder op 'Start scannen' om te
                starten.
            </p>
            <a href="/scanning">Start scannen</a>
        </section>
    </main>
</body>
<%- include('./partials/foot') %>
