<%- include('./partials/head') %>
<body>
    <main>
        <section class="details">
            <h1>Product info ophalen...</h1>
            <img src="../img/spinner.gif" />
        </section>
    </main>
</body>
<%- include('./partials/foot') %>
