<%- include('./partials/head') %>
<body>
    <main>
        <video></video>
        <form action="" method="POST">
            <input type="number" required min="1" max="9999999999999" name="searchBar" placeholder="Barcode" />
        </form>
        <section class="details">
            <h1>Richt je camera op een barcode...</h1>
            <img src="/img/barcode.png" alt="scanning" />
        </section>
    </main>
</body>
<%- include('./partials/foot') %>
