<%- include('./partials/head') %>
<body>
    <main>
        <video></video>
        <section class="details">
            <h1>Richt je camera op een barcode...</h1>
            <img src="/img/barcode.png" alt="scanning" />
        </section>
    </main>
</body>
<%- include('./partials/foot') %>
